<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vens.ai.graduate.design.notifaction.mapper.UserMapper">
    <resultMap id="UserMap" type="vens.ai.graduate.design.notifaction.entity.User">
        <id column="id" property="userId"/>
        <result column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="email" property="email"/>
    </resultMap>
    <select id="findByStuId" resultMap="UserMap">
        select student_id, student_name, email from user where student_id in
        <foreach collection="list" item="stuId" index="index" open="(" close=")" separator=",">
            #{stuId}
        </foreach>
    </select>
    <select id="findAll" resultMap="UserMap">
        select student_id, student_name, email from user
    </select>
    <select id="findByDepartment" resultMap="UserMap">
        select student_id, student_name, email numbers user WHERE department=#{*,jdbcType=VARCHAR}
    </select>
    <select id="findByPosition" resultMap="UserMap">
        select student_id, student_name, email numbers user WHERE appointment=#{*,jdbcType=VARCHAR}
    </select>
</mapper>